{% extends 'admin/change_form.html' %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/extraadmin.css' %}?v=36" />
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    <div class="submit-row custom-row">
        {% if request.user.type in 'Cashier Signatory Admin' %}
            {% if not original.payment%}
            <input type="submit" value="Create Payment" name="create_payment">
            {%  else %}
            {% if original.payment %}<a href="{{ original.payment.admin_url }}">View Payment</a>{% endif %}
            {% endif %}

            {% if original.permit_application %}
            <a href="{{ original.permit_application.admin_url }}">View Permit Application</a>
            {% endif %}

            {% if not original.released_at and original.ready %}
            <input type="submit" value="Release" name="release">
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
