{% extends 'admin/change_form.html' %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/extraadmin.css' %}?v=38" />
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    <div class="submit-row custom-row">
        {% if not original.payment%}
        {% if user_has_edit_perm and user_has_edit_perm_payment %}<input type="submit" value="Create Payment" name="create_payment">{% endif %}
        {%  else %}
        {% if original.payment %}<a href="{{ original.payment.admin_url }}">View Payment</a>{% endif %}
        {% endif %}

        {% if original.permit_application %}
        <a href="{{ original.permit_application.admin_url }}">View Permit Application</a>
        {% endif %}

        {% if not original.released_at and original.ready %}
        {% if user_has_edit_perm %}<input type="submit" value="Release" name="release">{% endif %}
        {% endif %}

        {% if user_has_edit_perm and user.type != 'Cashier' %}
            {% if current_user_has_signed %}
            <input type="submit" value="Remove Your Signature" name="remove_sign">
            {% else %}
            <input type="submit" value="Sign" name="add_sign">
            {% endif %}
        {% endif %}
    </div>

    {% include 'ui/paymentorder.html' with paymentorder=original %}
</div>

{% endblock %}
