{% extends "base.html" %}

{% load static %}

{% block title %}Transport Reports{% endblock %}

{% block links %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block styles %}
<style>
    main .cont {
        margin: 100px auto;
        padding: 0px 20px;
        width: 100%;
        max-width: 1000px;
    }

    #transport-chart {
        width: 100%;
        height: auto;
    }

    #year-form {
        width: 100%;
        max-width: 100px;
        margin: 0px auto;
    }

    #year-form input {
        width: 100%;
        text-align: center;
    }

    hr {
        margin: 100px 0px;
    }

    #gen-report-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inpt-cont {
        display: flex;
        flex-wrap: nowrap;
    }

    .inpt {
        display: grid;
        grid-template-rows: 1fr auto;
    }

    .inpt input {
        height: 40px;
        text-align: center;
        border-radius: 0px;
        border: 1px solid black;
    }

</style>
{% endblock %}

{% block content %}
<main>
    <div class="cont">
        <h2 style="text-align:center;">Transport Chart</h2>
        <form action="" method="GET" id="year-form">
            <input type="number" id="yearFilter" value="{{year}}" name="year" min="1900" max="2099" step="1">
        </form>

        <div>
          <canvas id="transport-chart"></canvas>
        </div>

        {% if user.is_staff %}
        <hr>
        <form action="{% url 'generate_reports' %}" method="GET" id="gen-report-form">
            <h2>Generate Reports</h2>
            <div class="inpt-cont">
                <div class="inpt">
                    <span>Year:</span>
                    <input type="number" style="width:80px" id="yearFilter" value="{{year}}" name="year" min="1900" max="2099" step="1">
                </div>
                <div class="inpt">
                    <span>Quarter:</span>
                    <input type="number" style="width:70px; border-left:none;" id="yearFilter" value="{{quarter}}" name="quarter" min="1" max="4" step="1">
                </div>
                <div class="inpt">
                    <span></span>
                    <input type="submit" value="Generate" style="border-left:none;" class="w3-btn w3-green">
                </div>
            </div>
        </form>
        {% endif %}

        <script>
            $(function() {
              const ctx = document.getElementById('transport-chart');

              stats = JSON.parse(atob('{{ data }}'));

              datasets = [];
              for (const key in stats) {
                datasets.push({
                    label: key,
                    data: stats[key],
                    borderWidth: 2,
                    tension: 0.3,
                    fill: true
                });
              }

              new Chart(ctx, {
                type: 'line',
                data: {
                  labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                  datasets: datasets
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
            });
        </script>
    </div>
</main>
{% endblock %}
