.custom-row {
    display: flex;
    grid-gap: 10px;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
}

.custom-row a {
    order: 1;
    text-decoration: underline;
}

.custom-row input {
    order: 2;
    margin: 0px;
}

.signatures {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 8px;
}
.signatures .sign {
    border-radius: 8px;
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 8px;
    text-align: center;
}
.signatures .sign img {
    width: 100%;
    height: auto;
    margin-bottom: -20px;
}
.signatures .sign .name {
    font-weight: bold;
}
.signatures .sign .title {
    font-style: italic;
}
