.custom-row {
    display: flex;
    grid-gap: 10px;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
}

.custom-row a {
    order: 1;
    text-decoration: underline;
}

.custom-row input {
    order: 2;
    margin: 0px;
}

.signatures {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 8px;
    justify-content: end;
}
.sign {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 8px;
    text-align: center;
}
.sign img {
    width: 100%;
    height: auto;
    margin-bottom: -20px;
}
.sign .name {
    border-top: 1.8px solid black;
    padding: 0px 20px;
    font-weight: bold;
    white-space: nowrap;
}
.sign .title {
    font-style: italic;
}

.inspection {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.inspection .date-cont {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.inspection .date-item {
    text-align: center;
}

.inspection .actual-date {
    border-bottom: 1.5px solid black;
    padding: 0px 8px;
}

.underlined {
    font-weight: bold;
    border-bottom: 1.5px solid black;
    padding: 0px 12px;
    white-space: nowrap;
}

.inspection table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.inspection .four-signs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.inspection .four-signs > div {
    display: flex;
    justify-content: center;
}
.inspection p {
    margin-bottom: 30px;
}
