{% extends 'permits/permit_base.html' %}

{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/extraadmin.css' %}?v=39" />
<style>
    strong {
        text-decoration: underline;
    }

    table {
        width: 100%;
        text-align: center;
        border-top: 2px dashed gray;
        border-bottom: 2px dashed gray;
    }
</style>
{% endblock styles %}

{% block content %}
<h4>Wildlife Transport <br>
    Permit No: {{ permit.permit_no }}</h4>
<h2 style="text-align: center">LOCAL TRANSPORT PERMIT</h2>
<p style="text-indent: 50px;">
    Pursuant ot Republic Act 9147 dated July 30, 2001, <span class="underlined">{{ permit.client.name }}</span> of <span class="underlined">{{ permit.client.address }}</span>
    is authorized to transport to <span class="underlined">{{ permit.transport_location }}</span> the following wildlife for <span class="underlined">export</span> purpose.</p>
<table>
    <tr>
        <th>Common/Scientific Name</th>
        <th>Description</th>
        <th>Quantity</th>
    </tr>
    {% for i in permit.species_to_transport.all %}
    <tr>
        <td>{{ i.sub_species.common_name }}/{{ i.sub_species.scientific_name }}</td>
        <td>{{ i.description }}</td>
        <td>{{ i.quantity }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td><b>Total: {{ permit.total_transport_quantity }}</b></td>
    </tr>
</table>
<p style="text-indent: 50px;">The above-mentioned specimens shall be transported by Air/Seaexpress on or
    before <span class="underlined">{{ permit.transport_date }}</span> and have been inspected, verified and found ni accordance
    with
    existing wildlife laws, rules and regulations.
</p>
<p style="text-indent: 50px;">
    Local transport fee in the amount of <span class="underlined">₱ {{ permit.amount }}</span> was paid under the DENR PENRO Official Receipt No.
    <span class="underlined">{{ permit.receipt_no }}</span> dated
    {% if permit.payment_order %}
    <span class="underlined">{{ permit.payment_order.released_at.date }}</span>
    {% else %}
    <span class="underlined">{{ permit.created_at }}</span>
    {% endif %}
    .
</p>
<p style="text-indent: 50px;">This is to certifyfurther that this statement wasgiven me voluntarily and with
    neither coercion nor promise of reward from the personnelofthe Department of Environment and Natural
    Resources.</span>
</p>
{% include 'ui/signature_list.html' with signatures=permit.signatures %}

<hr>

{% include 'ui/inspection.html' with inspection=permit.inspection %}

{% if permit.wfp.uploaded_file %}
<embed src="{{ permit.wfp.uploaded_file.url }}" class="added-file"/>
{% endif %}

<hr>

{% if permit.wcp.uploaded_file %}
<embed src="{{ permit.wcp.uploaded_file.url }}" class="added-file"/>
{% endif %}

<hr>

{% if permit.payment_order.payment.uploaded_receipt %}
<embed src="{{ permit.payment_order.payment.uploaded_receipt.url }}" class="added-file"/>
{% endif %}

{% endblock content %}
