{% extends "base.html" %}

{% load static %}

{% block title %}Permits{% endblock %}

{% block styles %}
<style>
    main .cont {
        margin: 100px auto;
        padding: 0px 20px;
        width: 100%;
        max-width: 1100px;
    }

    main .cont a {
        color: blue;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="cont">
        <h1>Permits</h1>
        <p>Here are your permits.</p>

        <form method="GET" class="w3-panel w3-pale-blue w3-round-large w3-padding">
            {% include 'ui/inputbox.html' with field=filters.form.search %}
            {% include 'ui/inputbox.html' with field=filters.form.permit_type %}
            {% include 'ui/inputbox.html' with field=filters.form.status %}
            <div class="buttons">
                <button type="submit" class="w3-btn w3-round-large w3-blue">Filter</button>
            </div>
        </form>

        <div style="overflow-x:auto;">
            <table class="w3-table w3-table-all">
                <tr>
                    <th>No.</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Valid Until</th>
                </tr>
                {% for i in permits %}
                <tr>
                    <td class="robotic-txt"><a href="{% url 'permit_detail' pk=i.id %}" target="_blank">{{ i.permit_no }}</a></td>
                    <td>{{ i.subclass.permit_type }}</td>
                    <td><span class="w3-tag w3-round-xxlarge {{ i.status }}">{{ i.get_status_display }}</span></td>
                    <td>{{ i.created_at }}</td>
                    <td>{{ i.valid_until }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% include 'ui/paginator.html' %}
</main>
{% endblock %}
