{% extends 'permits/permit_base.html' %}

{% load static %}

{% block styles %}
{{ block.super }}
<style>
    strong {
        text-decoration: underline;
    }

     table {
        width: 100%;
        text-align: center;
        border-top: 2px dashed gray;
        border-bottom: 2px dashed gray;
    }

     .sig-line {
        display: grid;
        grid-template-columns: 1fr auto;
    }

     .sig {
        width: 250px;
        height: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        background-image: url("{{ permit.signature.image.url }}");
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>
{% endblock styles %}

{% block content %}
<main>
    {% if permit.uploaded_file %}
    <img src="{{ permit.uploaded_file.url }}" style="width: 100%; height: auto;"/>
    {% else %}
    <p>No uploaded file!</p>
    {% endif %}
</main>
{% endblock content %}

