{% extends 'permits/permit_base.html' %}

{% load static %}

{% block styles %}
{{ block.super }}
<style>
    strong {
        text-decoration: underline;
    }

     table {
        width: 100%;
        text-align: center;
        border-top: 2px dashed gray;
        border-bottom: 2px dashed gray;
    }

     .sig-line {
        display: grid;
        grid-template-columns: 1fr auto;
    }

     .sig {
        width: 250px;
        height: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        background-image: url("{{ permit.signature.image.url }}");
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>
{% endblock styles %}

{% block content %}
<main>
    {% if permit.uploaded_file %}
    <embed src="{{ permit.uploaded_file.url }}"/>
    {% else %}
    <p>No uploaded file!</p>
    {% endif %}
</main>
{% endblock content %}

{% block side %}
<div>
    <h3>Permit Details</h3>
    <p>No: {{ permit.permit_no }}</p>
    <p>Status: {{ permit.get_status_display }}</p>
    <p>Created at: {{ permit.created_at }}</p>
    <p>Valid until: {{ permit.valid_until }}</p>
    <p>Official receipt no: {{ permit.payment_order.payment.receipt_no }}</p>
    <p>Payment amount: Php {{ permit.payment_order.payment.amount }}</p>
</div>
{% endblock side %}
