{% extends "base.html" %}

{% load static %}

{% block title %}{{ object.no }}{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/extraadmin.css' %}?v=40" />
{% endblock %}

{% block styles %}
<style>
    main .cont {
        margin: 100px auto;
        padding: 0px 20px;
        width: 100%;
        max-width: 1100px;
    }

    .extra-form {
        margin: 50px 0px;
    }

    .mini-form {
        background: #ddffdd;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .list {
        display: flex;
        flex-direction: column;
    }
    .list-item {
        display: grid;
        grid-template-columns: 1fr auto;
        border-bottom: 1px solid lightgray;
        border-right: 1px solid lightgray;
        margin-bottom: 16px;
    }
    .list-item > * {
        padding: 4px 8px;
        display: flex;
        align-items: center;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="cont">
        <form action="" method="POST" enctype="multipart/form-data">
            <h1>{{ object.no }} <span class="w3-small w3-tag w3-round-xxlarge {{ object.status }}">{{ object.get_status_display }}</span></h1>
            <p>You are editing your application for {{ object.get_permit_type_display }}.</p>
            {% csrf_token %}

            {% if object.permit_type == 'LTP' %}
            {% include 'ui/inputbox.html' with field=form.transport_date %}
            {% include 'ui/inputbox.html' with field=form.transport_location %}
            {% endif %}

            {% if object.permit_type == 'WCP' %}
            {% include 'ui/inputbox.html' with field=form.names_and_addresses_of_authorized_collectors_or_trappers %}
            {% endif %}

            {% if object.paymentorder and object.paymentorder.released_at %}
            {% include 'ui/paymentorder.html' with paymentorder=object.paymentorder %}
            {% endif %}

            {% if object.remarks.count != 0 %}
            <div>
                <h4>Admin Remarks:</h4>
                {% for i in object.remarks.all %}
                <div class="w3-panel w3-pale-blue w3-round-large w3-border w3-border-blue">
                    <p>
                        <strong class="w3-small w3-text-gray">{{ i.created_at }}</strong>
                        <br>
                        <span class="w3-large"><span class="w3-text-gray">{{ i.user }}:</span> {{ i.content }}</span>
                    </p>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <hr>

            <div class="buttons">

                <a href="{% url 'list_applications' %}" class="w3-btn w3-round-large w3-text-gray w3-border w3-border-gray">Go back</a>

                {% if object.status in 'DRAFT RETURNED' %}
                <a href="{% url 'delete_application' pk=object.id %}" class="w3-btn w3-round-large w3-text-red w3-border w3-border-red">Delete</a>

                <input type="submit" id="add-req-form" class="w3-btn w3-round-large w3-blue" value="Save">

                {% if object.needed_requirements_are_submitted %}<a href="{% url 'submit_application' pk=object.id %}" class="w3-btn w3-round-large w3-green">Submit</a>{% endif %}
                {% endif %}

                {% if object.status in 'SUBMITTED' %}
                <a href="{% url 'unsubmit_application' pk=object.id %}" class="w3-btn w3-round-large w3-text-gray w3-border w3-border-gray">Unsubmit</a>
                {% endif %}

                {% if object.status == 'RELEASED' and object.permit %}
                <a href="{% url 'permit_detail' pk=object.permit.id %}" class="w3-btn w3-round-large w3-green" target="_blank">View Permit</a>
                {% endif %}

            </div>
        </form>

        {% if object.permit_type == 'LTP' %}
        <form class="extra-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ transport_entry.media }}
            <div class="extra-form">
                <h3 id="{{ transport_entry.prefix }}">Transport Entries</h3>
                <div style="overflow-x:auto;">
                    <table class="w3-table w3-table-all w3-margin-bottom">
                        <tr>
                            <th>Species</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            {% if object.editable %}
                            <th>Action</th>
                            {% endif %}
                        </tr>
                        {% for i in object.requested_species_to_transport.all %}
                        <tr>
                            <td>{{ i.sub_species }}</td>
                            <td>{{ i.description }}</td>
                            <td>{{ i.quantity }}</td>
                            {% if object.editable %}
                            <td><a href="{% url 'delete_transport_entry' pk=i.id %}" class="w3-text-red"><i class="fa fa-trash-o"></i> Delete</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% if object.editable %}
                <div class="mini-form">
                    {% include 'ui/select.html' with field=transport_entry.sub_species %}
                    {% include 'ui/inputbox.html' with field=transport_entry.quantity %}
                    {% include 'ui/inputbox.html' with field=transport_entry.description %}
                </div>
                <div class="buttons">
                    <button type="submit" class="w3-btn w3-text-blue w3-round-large w3-border w3-border-blue">Add Transport Entry</button>
                </div>
                {% endif %}
            </div>
        </form>
        {% endif %}

        {% if object.permit_type == 'WCP' %}
        <form class="extra-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ requested_species.media }}
            <h3 id="{{ requested_species.prefix }}">Collection Entries</h3>
            <div style="overflow-x:auto;">
                <table class="w3-table w3-table-all w3-margin-bottom">
                    <tr>
                        <th>Species</th>
                        <th>Quantity</th>
                        {% if object.editable %}
                        <th>Action</th>
                        {% endif %}
                    </tr>
                    {% for i in object.requested_species.all %}
                    <tr>
                        <td>{{ i.sub_species }}</td>
                        <td>{{ i.quantity }}</td>
                        {% if object.editable %}
                        <td><a href="{% url 'delete_requested_species' pk=i.id %}" class="w3-text-red"><i class="fa fa-trash-o"></i> Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% if object.editable %}
            <div class="mini-form">
                {% include 'ui/select.html' with field=requested_species.sub_species %}
                {% include 'ui/inputbox.html' with field=requested_species.quantity %}
            </div>
            <div class="buttons">
                <button type="submit" class="w3-btn w3-text-blue w3-round-large w3-border w3-border-blue">Add Species</button>
            </div>
            {% endif %}
        </form>
        {% endif %}

        <form class="extra-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ requirement.media }}
            {% if needed_requirements %}
            <div>
                <h3>Needed Requirements:</h3>
                <ul>
                    {% for i in needed_requirements %}
                    <li><i class="fa {% if i.submitted %}fa-check w3-text-green{% else %}fa-times w3-text-red{% endif %}"></i> {% if i.optional %}(Optional) {% endif %}{{ i.requirement.requirement.label }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <h4 id="{{ requirement.prefix }}">Uploaded Requirements:</h4>
            <div class="list">
                {% for i in object.requirements.all %}
                <div class="list-item">
                    <div><a href="{{ i.uploaded_file.url }}" target="_blank" class="w3-text-blue">{{ i.requirement.label }}</a></div>
                    {% if object.editable %}
                    <div><a href="{% url 'delete_uploaded_requirement' pk=i.id %}"><i class="fa fa-trash-o w3-text-red"></i></a></div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% if object.editable %}
            <div class="mini-form">
                {% include 'ui/select.html' with field=requirement.requirement %}
                {% include 'ui/fileinput.html' with field=requirement.uploaded_file %}
            </div>
            <div class="buttons">
                <button type="submit" class="w3-btn w3-text-blue w3-round-large w3-border w3-border-blue">Add Requirement</button>
            </div>
            {% endif %}
        </form>

        <script>
            /*
            const allowedSpecies = JSON.parse(`[
                {% for i in allowed_species %}
                {
                    "id": {{ i.sub_species.id }},
                    "name": "{{ i }}",
                    "quantity": {{ i.quantity }}
                },{% endfor %}]`
                .replace(',]', ']'));

            function addForm(prefix) {
                var total = $(`#id_${prefix}-TOTAL_FORMS`);
                var totalForms = parseInt(total.val());
                var emptyFormStr = $(`#${prefix}-empty`).html().replaceAll('__prefix__', totalForms);
                var newForm = $(emptyFormStr);
                $(`#${prefix}`).append(newForm);
                total.val(totalForms+1);

                $(window).trigger('init-autocomplete');
            }

            function limitQuantity(animalInput) {
                if (animalInput.val()) {
                    const quantity = allowedSpecies.find(obj => obj.id == animalInput.val()).quantity;
                    const quantityInput = $('#'+animalInput.attr('id').replace('sub_species', 'quantity'));
                    quantityInput.attr('max', quantity);
                }
            }

            function limitAllowedAnimals() {
                let inputs = $('#{{ transport_entries.prefix }}').find('input:hidden');
                inputs.each(function () {
                    if ($(this).attr('id').includes('sub_species')) {
                        limitQuantity($(this));
                        $(this).on('change', function () {
                            limitQuantity($(this));
                        });
                    }
                })
            }

            $(function () {
                limitAllowedAnimals();
            });
            */
        </script>
    </div>
</main>
{% endblock %}
