{% extends "base.html" %}

{% load static %}

{% block title %}{{ object.no }}{% endblock %}

{% block styles %}
<style>
    main .cont {
        margin: 100px auto;
        padding: 0px 20px;
        width: 100%;
        max-width: 1100px;
    }

    .mini-form {
        border: 2px solid lightgray;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="cont">
        <form action="" method="POST" enctype="multipart/form-data">
            <h1>{{ object.no }} <span class="w3-small w3-tag w3-round-xxlarge {{ object.status }}">{{ object.get_status_display }}</span></h1>
            <p>You are editing your application for {{ object.get_permit_type_display }}.</p>
            {% csrf_token %}

            {% if object.permit_type == 'LTP' %}
            {% include 'ui/inputbox.html' with field=form.transport_date %}
            {% endif %}

            {{ requirements.management_form }}
            <div class="extra-form">
                <h3>Requirements</h3>
                {% for i in requirements %}
                <div id="{{ requirements.prefix }}">
                    <div class="mini-form">
                        {{ i.id }}
                        {{ i.permit_application }}
                        {% include 'ui/inputbox.html' with field=i.requirement_type %}
                        {% include 'ui/fileinput.html' with field=i.uploaded_file %}
                        {% if i.id.value %}{% include 'ui/checkbox.html' with field=i.DELETE %}{% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="buttons">
                    <button type="button" class="w3-btn w3-text-blue w3-round-large w3-border w3-border-blue" onclick="addForm('{{ requirements.prefix }}')">Add requirement</button>
                </div>
                <div id="{{ requirements.prefix }}-empty" style="display:none">
                    <div class="mini-form">
                        {% include 'ui/inputbox.html' with field=requirements.empty_form.requirement_type %}
                        {% include 'ui/fileinput.html' with field=requirements.empty_form.uploaded_file %}
                    </div>
                </div>
            </div>
            <hr>
            <div class="buttons">

                <a href="{% url 'list_applications' %}" class="w3-btn w3-round-large w3-text-gray w3-border w3-border-gray">Go back</a>

                {% if object.status in 'DRAFT RETURNED' %}
                <a href="{% url 'delete_application' pk=object.id %}" class="w3-btn w3-round-large w3-text-red w3-border w3-border-red">Delete</a>

                <input type="submit" id="add-req-form" class="w3-btn w3-round-large w3-green" value="Save">
                {% endif %}

            </div>
        </form>
        <script>
            function addForm(prefix) {
                var total = $(`#id_${prefix}-TOTAL_FORMS`);
                var totalForms = parseInt(total.val());
                var emptyFormStr = $(`#${prefix}-empty`).html().replaceAll('__prefix__', totalForms);
                var newForm = $(emptyFormStr);
                $(`#${prefix}`).append(newForm);
                total.val(totalForms+1);
            }
        </script>
    </div>
</main>
{% endblock %}
