{% extends 'admin/change_form.html' %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/extraadmin.css' %}?v=35" />
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    <div class="submit-row custom-row">
        {% if original.submittable and not original.paymentorder %}
        <input type="submit" value="Generate Payment Order" name="generate_payment_order">
        {% elif original.paymentorder %}
        <a href="{{ original.paymentorder.admin_url }}">View Payment Order</a>
        {% endif %}

        {% if not original.inspection %}
        <input type="submit" value="Start Inspection" name="create_inspection">
        {% else %}
        <a href="{{ original.inspection.admin_url }}">View Inspection</a>
        {% endif %}

        {% if request.user.type == 'Admin' %}
            {% if original.permit %}
            <a href="{{ original.permit.admin_url  }}">View {{ original.get_permit_type_display }}</a>
            {% else %}
            <input type="submit" value="Generate {{ original.get_permit_type_display }}" name="generate_permit">
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
