{% extends 'admin/change_form.html' %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/extraadmin.css' %}?v=35" />
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    <div class="submit-row custom-row">
        {% if original.can_be_submitted and not original.orderofpayment %}
        <input type="submit" value="Generate Order of Payment" name="generate_payment_order">
        {% elif original.orderofpayment %}
        <a href="{% url 'admin:payments_orderofpayment_change' original.orderofpayment.id %}">View Order of Payment</a>
        {% endif %}
    </div>

{% endblock %}
