{% extends 'admin/change_form.html' %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/extraadmin.css' %}?v=38" />
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    <div class="submit-row custom-row">
        {% if original.permit_application %}<a href="{{ original.permit_application.admin_url }}">View Permit Application</a>{% endif %}

        {% if user_has_edit_perm %}
            {% if current_user_has_signed %}
            <input type="submit" value="Remove Your Signature" name="remove_sign">
            {% else %}
            <input type="submit" value="Sign" name="add_sign">
            {% endif %}
        {% endif %}
    </div>

    {% include 'ui/inspection.html' with inspection=original %}
{% endblock %}
