{% extends 'admin/change_form.html' %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/extraadmin.css' %}?v=37" />
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    <div class="submit-row custom-row">
        {% if original.application %}<a href="{{ original.application.admin_url }}">View Permit Application</a>{% endif %}
        {% if original.type == 'LocalTransportPermit' %}<a href="{{ original.preview_url }}" target="_blank">View Preview</a>{% endif %}

        {% if original.type == 'LocalTransportPermit' and user_has_edit_perm %}
            {% if current_user_has_signed %}
            <input type="submit" value="Remove Your Signature" name="remove_sign">
            {% else %}
            <input type="submit" value="Sign" name="add_sign">
            {% endif %}

            {% if original.status != 'RELEASED' %}<input type="submit" value="Release" name="release">{% endif %}
        {% endif %}
    </div>

    {% if original.type == 'LocalTransportPermit' %}
    {% include 'ui/signature_list.html' with signatures=original.signatures %}
    {% endif %}
{% endblock %}
