{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta
            content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
            name="viewport"
        />
        <link rel="stylesheet" href="{% static 'css/global.css' %}?v=40" />
        <link rel="stylesheet" href="{% static 'css/w3.css' %}?v=34" />
        <link rel="stylesheet" href="{% static 'js/global.js' %}?v=34" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/209b41c676.js"
            crossorigin="anonymous"
        ></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        {% block styles %}{% endblock %}
    </head>

    <body>
        <nav class="w3-blue">
            <div class="nav-cont">
                <div class="brand">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/brand.png' %}" />
                        <span>Butterfly LTP System</span>
                    </a>
                    <div class="nav-btn-cont">
                        <button id="nav-btn" class="w3-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="links" id="nav-links">
                    {% if user.is_authenticated and user.type == 'Client' %}
                    <a href="{% url 'list_applications' %}">Permit Applications</a>
                    <a href="/ltpapplications/list.php?page=1">My Permits</a>
                    {% endif %}

                    {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'registration' %}">Register</a>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}"><b><i class="fa fa-user-circle-o"></i> {{ user.name }}</b></a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="page">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <footer class="w3-blue">
                <div class="cont">
                    <h2>Department of Environment and Natural Resources</h2>
                </div>
            </footer>
        </div>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="w3-panel w3-display-container {{ message.tags }} w3-round-large">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright w3-round-large"><i class="fa fa-close"></i></span>
                <h3>{{ message.tags }}</h3>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block scripts %}{% endblock %}

        <script>
            $(function () {
                $("#nav-btn").click(function () {
                    $("#nav-links").toggle();
                });
            });
        </script>
    </body>
</html>
