<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h1>Permit Expired: {{ permit.permit_no }}</h1>

    <p>Good day, {{ user.name }}.</p>

    {% if user.type == 'Client' %}
    <p>
        Your <a href="{{ DOMAIN }}{% url 'permit_detail' pk=permit.id %}">{{ permit.permit_type }} ({{ permit.permit_no }})</a>
        has already expired.
    </p>
    {% elif user.type == 'Admin' %}
    <p>
        The <a href="{{ DOMAIN }}{% url 'permit_detail' pk=permit.id %}">{{ permit.permit_type }} ({{ permit.permit_no }})</a>
        has already expired.
    </p>
    {% endif %}

</body>
</html>
